*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid gray;
}
.header-name{
    padding-right: 200px;
    color: #006cb6;
    font-weight: bold;
    font-size: 25px;
}
.header-menu ul a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}
.header-menu ul a:hover{
    color: red;
}
.header-menu ul button{
    padding: 3px;
    margin-left: 15px;
    font-weight: bold;
    color: purple;
    font-size: 25px;
}
.header-menu ul button:hover{
    background-color: rgb(248, 83, 0);
}
.banner img {
    padding: 0;
    width: 100%;
}
.tintuc {
    padding-top: 70px;
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(220, 72, 72);
}
.tintuc1 p {
    display: flex;
    justify-content: center;
    color: rgb(39, 42, 42);
    padding-top: 50px;
}
.tong {
    padding-left: 70px;
}
.text {
    font-size: 20px;
    font-weight: bold;
    color: #006cb6;
    padding-top: 50px;
    padding-bottom: 20px;
}
.doc1 div img {
    width: 150px;
    height: 70px;
}
.doc2 div img {
    width: 150px;
    height: 70px;
}
.ngang {
    display: flex;
}
.ngang1 {
    display: flex;
    padding: 20px;
}
.doc1 {
    flex-direction: column;
}
.doc2 {
    flex-direction: column;
}
.ngang1 div a {
    display: block;
    padding: 5px;
    text-decoration: none;
}
.ngang1 div a:hover{
    color: brown;
}
.gd {
    display: block;
}
.conten2 {
    width: 30%;
    padding-top: 40px;
}
.conten2 div {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #006cb6;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
}
.conten2 p {
    padding-bottom: 20px;
    font-size:15px;
}
.conten2 p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.conten2 p a:hover {
    text-decoration: underline;
    color: blueviolet;
    text-shadow: 1px 3px 10px black;
}
.anhTX{
    display: flex;
    
}
.lol{
    padding-right: 180px;
}
.conten2 img{
    padding-left: 100px;
    display: flex;
}
.tong {
    display: flex;
}
footer {
    padding-top: 40px;
    padding-left: 70px;
    background-color: #006cb6;
    border-top: 4px solid rgb(205, 55, 55);
}
.lienhe {
    display: flex;
}
.footer {
    width: 30%;
}
.footer1 {
    width: 30%;
    text-align: center;
}
.footer2 {
    width: 30%;
}
.font {
    color: aliceblue;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 40px;
}
.footer p {
    font-size: 20px;
    color: aliceblue;
}
.footer1 ul li {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}
.footer1 ul li a:hover {
    color: blueviolet;
}
.footer2 div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.imagee {
    border-radius: 50%;
}
.footer3 {
    text-align: center;
    background-color: #006cb6;
    padding-top: 70px;
}