*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid gray;
}
.header-name{
    padding-right: 200px;
    color: #006cb6;
    font-weight: bold;
    font-size: 25px;
}
.header-menu ul a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}
.header-menu ul button{
    padding: 3px;
    margin-left: 15px;
    font-weight: bold;
    color: purple;
    font-size: 25px;
}
.header-menu ul button:hover{
    background-color: rgb(248, 83, 0);
}
.header-menu ul a:hover{
    color: red;
}
.banner img{
    padding: 0px;
    width: 100%;
}
.menu{
    display: block;
    text-align: center;
    height: 150px;
    background-color: #346db8;
    padding-top: 40px;
    border-bottom: 4px solid red;
}
.menu-tt{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.menu-tt1{
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding: 9px;
}
h2{
    display: flex;
    justify-content: center;
    color: #333a90;
    padding-top: 50px;
    font-size: 40px;
    padding-bottom:20px ;
    padding-left: 50px;
}
.content{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 150px;
}
.content-ct{
    display: block;
    justify-content:center ;
    padding:50px;
}

.image img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    left: 1000px;
}
.content-name{
    padding-top:20px ;
    width: 300px;
}

.content-ct p{
    
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
    text-decoration: underline;
}

.content-ct p:hover{
    color: rgb(135, 6, 255);
}
.TATT{
    background-color:#346db8;
    height: 400px;
}
.TATT-TD{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 60px;
}
.taolabo{
    display: flex;
    justify-content: center;
}
.TATT-name{
    color: white;
    width: 20%;
    padding-right: 20px;
}
.TATT-img img{
    padding-left: 50px;
}
.name{
    display: flex;
    justify-content: center;
    text-align: center;
}
.item{
    display: flex;
    justify-content: center;
}
.gv img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    padding: 20px;
}
.dv-name{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-bottom:50px ;
}
.dv-name:hover{
    color: rgb(190, 32, 190);
    border-radius: 100px;
    width: 250px;
}
.HT{
    display: block;
    text-align: center;
    background-color: #006cb6;
    height: 400px;
    
}
h3{
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.ht{
    background-color: white;
    width: 350px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}
.LOL{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.HTTT{
    color: #006cb6;
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.CTDT{
    display: flex;
    justify-content: center;
}
.CT{
    padding: 20px;
}
.CT-img img{
    width: 270px;
    height: 250px;
    padding-bottom: 30px;
}
.CT-name{
    width: 270px;
    padding-bottom: 30px;
}
.CT-name a{
    text-decoration: none;
    font-weight: bold;
}
.CT-name a:hover{
    color: red;
}
.CT-conten{
    width: 250px;
}
.HD{
    display: flex;
    justify-content: center;
}
.HD-conten{
    padding: 20px;
}
.HD-conten img{
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 20px;
    border: 2px solid yellow;

}
.HD-conten a{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: bold;
}
footer {
    padding-top: 40px;
    padding-left: 70px;
    background-color: #006cb6;
    border-top: 4px solid rgb(205, 55, 55);
}
.lienhe {
    display: flex;
}
.footer {
    width: 30%;
}
.footer1 {
    width: 30%;
    text-align: center;
}
.footer2 {
    width: 30%;
}
.font {
    color: aliceblue;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 40px;
}
.footer p {
    font-size: 20px;
    color: aliceblue;
}
.footer1 ul li {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}
.footer1 ul li a:hover {
    color: blueviolet;
}
.footer2 div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.imagee {
    border-radius: 50%;
}
.footer3 {
    text-align: center;
    padding-top: 70px;
    
}
