*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid gray;
    width:1800px;
}
.header-name{
    padding-right: 200px;
    color: #006cb6;
    font-weight: bold;
    font-size: 25px;
}
.header-menu ul a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}
.header-menu ul button{
    padding: 3px;
    margin-left: 15px;
    font-weight: bold;
    color: purple;
    font-size: 25px;
}
.header-menu ul button:hover{
    background-color: rgb(248, 83, 0);
}
.header-menu ul a:hover{
    color: red;
}
.banner img{
    padding: 0px;
    width: 1800px;
}
form{
    display: block;
    justify-content: center;
    padding-left: 700px;
    padding-top:50px ;
}
.COTBO{
    display: flex;
    width: 1000px;
}
.cot1{
    width: 500px;
   padding-right: 300px;
}
.Si{
    display: flex;
    justify-content: center;
    width: 420px;
    height: 50px;
    background-color: orangered;
    color: white;
    border-radius:5px;
}
.Si p a{
    
    text-decoration: none;
    color: aliceblue;
}
.Si p{
    padding-top: 15px;
}
.Si:hover{
    background-color: rgb(203, 91, 16);
}
.bocuataikhoan{
    padding-top: 10px;
}
.bocuataikhoan a{
    color: #463939;
}
.cot2{
    width: 500px;
    margin: 50px;
}
.fb{
    width: 260px;
    display: flex;
    
    border: 1px solid black;
    padding: 10px;
    border-radius: 40px;
   margin-bottom: 30px;

    
}
.fb p:hover{
    color: #ef00e3;
}

.fb img{
    width: 40px;
    height: 40px;
}
.fb p{
    padding-left: 10px;
    padding-top: 10px;
}

.gmail{
    width: 260px;
    display: flex;

    margin-bottom: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 40px;  
}
.gmail img{
    width: 40px;
    height: 35px;
}
.gmail p{
    padding-left: 10px;
    padding-top: 10px;
}
.gmail p:hover{
    color: #ef00e3;
}

.twiter{
    width: 260px;
    display: flex;

    border: 1px solid black;
    padding: 10px;
    border-radius: 40px;  
}
.twiter img{
    width: 40px;
    height: 35px;
}
.twiter p{
    padding-left: 10px;
    padding-top: 10px;
}
.twiter p:hover{
    color: #ef00e3;
}
h1{
    padding-left: 100px;
    padding-bottom: 30px ;
    font-weight: bold;
    font-size: 30px;
color: gray;
}
.username{
    margin: 10px 10px;
}
.username1{
    padding-bottom: 30px;
}
.form-control{
    margin-left: 40px;
    margin-top: 10px;
    display: block;
    padding: 5px 100px;
    outline: none;
    box-shadow: 0 0 3px red;
    border: none;
    border-radius: 3px;
    color: orangered;
}
.form-control:focus{
    box-shadow: 0 0 3px rgb(5, 76, 255);
}
.btn-login{
    padding: 5px 5px;
    background-color: aqua;
    border: none;
    border-radius: 3px ;
    color: aliceblue;
}
.btn-cancel :hover{
    background-color: aquamarine;
}
